body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(219, 167, 167);
    font-family: monospace;
}

h1 {
    font-size: 30pt;
}

p {
    font-size: 20pt;
}

span {
    color: blue;
}

h3, li {
    font-size: 18pt;
}